
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="{{this.photo_category[0]}}" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="{{this.photo_category[1]}}" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="{{this.photo_category[2]}}" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="{{this.photo_category[3]}}" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="{{this.photo_category[4]}}" height="100" width="250" alt="" />
		</div>
	</div>
</div>
