<h1> This is an example</h1>


<div class="card">
    <div class="user_avatar">
       <img src="{{currentUser.avatar}}" alt="user avatar">
    </div>
    <div class="user_info">
        <p>Username : {{currentUser.username}} </p>
        <p>Email : {{currentUser.email}} </p>
        <p>City :  {{currentUser.city}} </p>
        <p>Description : {{currentUser.description}} </p>
    </div>
    <a href="/dashboard/myprofile/user/edit">Edit Profile</a>
    <a href="">Delete account</a>
</div>