<div class='profile_main_box'>
  <div class='profile_box'>
    {{> flash_message}}
    <form method='post' action='/dashboard/myprofile/edit'>
      <div>
        <label for='avatar'>Avatar : </label>
        {{!-- <input name='avatar' id='avatar' type='file' value='{{currentUser.avatar}}' /> --}}
      </div>

      <div class='user_info'>
        <label for='username'>Username : </label>
        <input name='username' id='username' type='text' value='{{currentUser.username}}' />

        <label for='email'>Email : </label>
        <input name='email' id='email' type='email' value='{{currentUser.email}}' />

        <label for='city'>City : </label>
        <input name='city' id='city' type='text' value='{{currentUser.city}}' />

        <label for='description'>Description : </label>
        <textarea name='description' id='description' type='text' value='{{currentUser.description}}'></textarea>
      </div>
      <button type='submit'>Submit</button>
    </form>
    <form method="GET" action="/dashboard/myprofile">
      <button>Cancel</button>
    </form>
  </div>
</div>