<div class='big_card'>
  <div class='card_edit'>
    <form method='post' action='/dashboard/myprofile/user/edit'>
      {{!-- <label for='avatar'>Avatar : </label>
    <input name='avatar' id='avatar' type='text' value="{{currentUser.avatar}}"/> --}}

      <label for='username'>Username : </label>
      <input
        name='username'
        id='username'
        type='text'
        value='{{currentUser.username}}'
      />

      <label for='email'>Email : </label>
      <input
        name='email'
        id='email'
        type='email'
        value='{{currentUser.email}}'
      />

      <label for='city'>City : </label>
      <input name='city' id='city' type='text' value='{{currentUser.city}}' />

      <label for='description'>Description : </label>
      <textarea
        name='description'
        id='description'
        type='text'
        value='{{currentUser.description}}'
      ></textarea>

      <button type='submit'>Submit</button>
    </form>
  </div>
</div>