{{#each city}}
<h1>{{this.city_name}}</h1>

<img class="city-image-yay" src="{{this.city_photo.[0]}}" alt="Photo of {{this.city_name}}">

<p class="thisdesc">{{this.description}}</p>

<p class="accessibleby">Accessible by :
  <ul>
{{#each this.accessibility}}
    <li class="listeee">{{this}}</li>
{{/each}}
  </ul>
</p>

{{/each}}

{{!-- ADD TO WISHLIST BUTTON --}}

  <form method="POST" action="/destinations/wishlist">
  <label for="_id"></label>
  <input hidden id="_id" name="_id" type="text" value="{{city._id}}">
  <button class="productButton">Add to Favourites <i class="far fa-heart"></i></button>
</form>



{{!-- ACTIVITIES IN THIS CITY --}}


<h2>Restaurants</h2>

  {{#each restaurant}}

   <div>
     <img src="{{this.activity_photo.[0]}}" alt="Photo of {{this.activity_name}}">
     <p>{{this.activity_name}}</p>
   </div>

  {{/each}}


<h2>Nature</h2>

  {{#each nature}}

   <div>
     <img src="{{this.activity_photo.[0]}}" alt="Photo of {{this.activity_name}}">
     <p>{{this.activity_name}}</p>
   </div>

  {{/each}}

<h2>Culture</h2>

  {{#each culture}}

   <div>
     <img src="{{this.activity_photo.[0]}}" alt="Photo of {{this.activity_name}}">
     <p>{{this.activity_name}}</p>
   </div>

  {{/each}}
