<div class="main-content-city flexed-item big-container"></div>

{{!-- CITY NAME --}}
{{!-- insert name with Google place + bouton wishlist --}}
<button class="button-primary submit-btn"><i class="far fa-heart">Add to wishlist</i></button>

{{!-- CATEGORIES --}}

<aside class="tag-wrapper">
    {{!-- <h4 class="tag-title">All Tags</h4> --}}
    <ul id="tag_list" class="tag-list" data-category="{{activity.category}}">
      {{#each category}}
      <li class="category-list-item">
          {{> carousel_city}}
        {{!-- <input id="input_{{this._id}}" type="checkbox" data-tag-id="{{this._id}}" class="checkbox" />
        <label for="input_{{this._id}}">{{this.name}}</label> --}}
      </li>
      {{/each}}
    </ul>
  </aside>