{{#each city}}
<h1>{{this.city_name}}</h1>

<img src="{{this.city_photo.[0]}}" alt="Photo of {{this.city_name}}">

<p>{{this.description}}</p>

<p>Accessible by :
  <ul>
{{#each this.accessibility}}
    <li>{{this}}</li>
{{/each}}
  </ul>
</p>
{{/each}}

{{!-- ADD TO WISHLIST BUTTON --}}

  <form method="POST" action="/destinations/wishlist">
  <label for="_id"></label>
  <input hidden id="_id" name="_id" type="text" value="{{city._id}}">
  <button class="productButton">Add to Favourites <i class="far fa-heart"></i></button>
</form>



{{!-- ACTIVITIES IN THIS CITY --}}


<h2>Restaurants</h2>

  {{#each restaurant}}

   <div>
     <img src="{{this.activity_photo.[0]}}" alt="Photo of {{this.activity_name}}">
     <p>{{this.activity_name}}</p>
   </div>

  {{/each}}


<h2>Nature</h2>

  {{#each nature}}

   <div>
     <img src="{{this.activity_photo.[0]}}" alt="Photo of {{this.activity_name}}">
     <p>{{this.activity_name}}</p>
   </div>

  {{/each}}

<h2>Culture</h2>

  {{#each culture}}

   <div>
     <img src="{{this.activity_photo.[0]}}" alt="Photo of {{this.activity_name}}">
     <p>{{this.activity_name}}</p>
   </div>

  {{/each}}


{{!-- LES CODES DE MELISA --}}

{{!-- 
<div class="display-photo-container">
    <div class="display-photo-row">
        <div class="photo-and-cityname"> 
            <h4 class="cityname">Paris</h4>
            <img class="city-thumbnail" src="https://lp-cms-production.imgix.net/image_browser/Effiel%20Tower%20-%20Paris%20Highlights.jpg"
                 alt="Paris"/>
        </div>
        <div class="photo-and-cityname">
            <h4 class="cityname">Lyon</h4>
            <img class="city-thumbnail" src="https://image.arrivalguides.com/415x300/09/128e81d0745c4858dc799a49688157fc.jpg" alt="Lyon"/>
        </div>
        <div class="photo-and-cityname">
            <h4 class="cityname">Bordeaux</h4>
            <img class="city-thumbnail" src="https://www.easyjet.com/ejcms/cache/medialibrary/Images/JSS/Destinations/Hero/France_Bordeaux_3840x2160.jpg"
                 alt="Lyon"/>
        </div>
    </div>
</div> --}}

{{!-- son css --}}

{{!-- 

.display-photo-row {
  display: flex;
}

 --}}