<div class="main-content-city flexed-item big-container"></div>
<h1>{{city.city_name}}</h1>

<img src="{{city.city_photo" alt="Photo of {{city.city_name}}">

<p>{{city.description}}</p>

<p>Accessible by :
  <ul>
    <li></li>
  </ul>
</p>

  <form method="POST" action="/destinations/wishlist">
  <label for="_id"></label>
  <input hidden id="_id" name="_id" type="text" value="{{city._id}}">
  <button class="productButton">Add to Favourites <i class="far fa-heart"></i></button>
</form>

  {{#each category}}
  {{!-- <h4 class="tag-title">All Tags</h4> --}}
  <ul id="tag_list" class="tag-list" data-category="{{activity.category}}">
    <li class="category-list-item">
      {{> carousel_city}}
    </li>
  </ul>

  {{/each}}
<aside class="tag-wrapper"></aside>



